{% extends "base.html" %}

{% block title %}
Project Details | ProjectPulse
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <!-- Project Header -->
    <div class="box">
      <h1 class="title">{{project.name}}</h1>

    </div>

    <!-- Project Details -->
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="box">
         
          <div class="content">
      
            <p><strong>Description:</strong> {{project.description}}</p>
          </div>
        </div>
        
     
      </div>

      <!-- Project Actions -->
      <div class="column">
        <div class="box">
          <h2 class="subtitle">Actions</h2>
          <div class="buttons">
            <a href="{% url 'project-edit' project.pk %}" class="button is-primary is-fullwidth">Edit Project</a>
            {% comment %} <a href="{% url 'project-detail' project.pk %}" class="button is-link is-fullwidth">View Details</a> {% endcomment %}
            <a href="{% url 'project-delete' project.pk %}" class="button is-danger is-fullwidth">Delete Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} {% for todo in todolist  %}
  {% endfor %} {% endcomment %}
</section>
{% endblock content %}
